default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_authentication\Behat\AuthenticationContext
        - Drupal\Tests\oe_authentication\Behat\CleanupContext
        - Drupal\Tests\cas_mock_server\Context\CasMockServerContext:
            attributes_map:
              firstName: First name
              lastName: Last name
              departmentNumber: Department
              domain: Organisation
              groups: Groups
        - OpenEuropa\Behat\TransformationContext:
            pages:
              Authentication configuration: 'admin/config/system/oe_authentication'
              user registration: '/user/register'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      ajax_timeout: 10
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      base_url: "${drupal.base_url}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      selectors:
        message_selector: ".messages"
        error_message_selector: '.messages.messages--error'
        success_message_selector: '.messages.messages--status'
        warning_message_selector: '.messages.messages--warning'
  formatters:
    progress: ~
