default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\Tests\oe_authentication\Behat\AuthenticationContext
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      base_url: "${drupal.base_url}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      selectors:
        message_selector: ".messages"
  formatters:
    progress: ~
