default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\Tests\oe_authentication\Behat\AuthenticationContext
        - Drupal\Tests\oe_authentication\Behat\CleanupContext
        - Drupal\Tests\oe_authentication\Behat\WrappedCasMockServerContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              Authentication configuration: 'admin/config/system/oe_authentication'
              user registration: '/user/register'
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      ajax_timeout: 10
      browser_name: 'chrome'
      javascript_session: 'selenium2'
      base_url: "${drupal.base_url}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities:
          browser: chrome
          nativeEvents: true
          marionette: true
          browserName: chrome
          version: '*'
          extra_capabilities:
            chromeOptions:
              w3c: false
              args:
                - '--no-sandbox'
                - '--start-maximized'
                - '--disable-gpu'
                - '--window-size=1440,900'
                - '--disable-dev-shm-usage'
                - '--disable-setuid-sandbox'
                - '--disable-web-security'
                - '--DNS-prefetch-disable'
                - '--disable-translate'
                - '--ignore-certificate-errors'
                - '--test-type'
                - '--disable-extensions'
                - '--incognito'
                - '--disable-infobars'
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "${drupal.root}"
      selectors:
        message_selector: ".messages"
        error_message_selector: '.messages.messages--error'
        success_message_selector: '.messages.messages--status'
        warning_message_selector: '.messages.messages--warning'
  formatters:
    progress: ~
