drupal:
  root: "build"
  base_url: "http://web:8080/build"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  post_install:
    - "./vendor/bin/drush en config_devel -y"
    - "./vendor/bin/drush en oe_auth -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
      container_yamls:
        - "${runner.working_dir}/build/site/default/services.yml"
        - "${runner.working_dir}/services.yml"

authentication:
  server:
    base_url: "http://authentication:8001"

selenium:
  host: "http://selenium"
  port: "4444"

commands:
  drupal:site-setup:
    - { task: "mkdir", dir: "${drupal.root}/profiles" }
    - { task: "mkdir", dir: "${drupal.root}/themes" }
    - { task: "symlink", from: "../../..", to: "${drupal.root}/modules/custom/oe_auth" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
    - { task: "process", source: "services.yml.dist", destination: "services.yml" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
