drupal:
  root: "build"
  base_url: "http://web:8080/build"
  site:
    name: "OpenEuropa"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  post_install:
    # Prepare the instance.
    - "./vendor/bin/drush en config_devel -y"
    - "./vendor/bin/drush en oe_authentication -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
      container_yamls:
        - "${runner.working_dir}/build/site/default/services.yml"
    config:
     oe_authentication.settings:
       register_path: "register"
       validation_path: "serviceValidate"

commands:
  drupal:site-setup:
    - { task: "mkdir", dir: "${drupal.root}/profiles" }
    - { task: "mkdir", dir: "${drupal.root}/themes" }
    - { task: "symlink", from: "../../..", to: "${drupal.root}/modules/custom/oe_authentication" }
    - { task: "run", command: "drupal:drush-setup" }
    - task: "append"
      file: "build/sites/default/default.settings.php"
      text: "\n$config['cas.settings']['server']['protocol'] = 'http';\n$config['cas.settings']['server']['hostname'] = 'authentication';\n$config['cas.settings']['server']['port'] = '8001';\n$config['cas.settings']['server']['path'] = '/';\n"
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
