drupal:
  root: "build"
  base_url: "http://web:8080/build"
  site:
    name: "OpenEuropa"
    profile: "standard"
  database:
    host: "mysql"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  post_install:
    # Prepare the instance.
    - "./vendor/bin/drush en toolbar -y"
    - "./vendor/bin/drush en config_devel -y"
    # Enable the modules.
    - "./vendor/bin/drush en oe_authentication_user_fields oe_authentication_eulogin_mock -y"
    - "./vendor/bin/drush pmu big_pipe -y"
    - "./vendor/bin/drush cas-mock-server:start"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
selenium:
  host: "http://selenium"
  port: "4444"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:symlink-project" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - task: "append"
      file: "build/sites/default/settings.override.php"
      text: |
        // Enable the option 'Initialize this client as a proxy'
        // $config['cas.settings']['proxy']['initialize'] = TRUE;
        // SSL Configuration to not verify CAS server. DO NOT USE IN PRODUCTION!
        $config['cas.settings']['server']['verify'] = '2';
        $config['oe_authentication.settings']['protocol'] = 'eulogin';
        $config['oe_authentication.settings']['validation_path'] = 'TicketValidationService';
    - { task: "run", command: "setup:phpunit" }
    - { task: "run", command: "setup:behat" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
