parameters:
  p_cas:
    logger_startup_message: ''
    protocol:
      login:
        uri: ${authentication.server.base_url}/login
        query: []
        allowed_parameters:
          - service
          - renew
          - gateway
      servicevalidate:
        uri: ${authentication.server.base_url}/serviceValidate
        query: []
        allowed_parameters:
          - service
          - ticket
          - pgtUrl
          - renew
          - format
      logout:
        uri: ${authentication.server.base_url}/logout
        query: []
        allowed_parameters:
          - service

services:
  pcas:
    class: OpenEuropa\pcas\PCas
    arguments: ['%p_cas%', '@?pcas.httpclient', '@?pcas.protocol', '@?session']
    public: true

  pcas.httpclient:
    class: OpenEuropa\pcas\Http\Client
    factory: 'pcas.httpclientfactory:getHttpClient'

  pcas.protocol:
    class: OpenEuropa\pcas\Cas\Protocol\V2\CasProtocolV2
    arguments: ['@pcas.userfactory', '@pcas.serializerfactory']
    public: true

  pcas.userfactory:
    class: OpenEuropa\pcas\Security\Core\User\PCasUserFactory

  pcas.serializerfactory:
    class: OpenEuropa\pcas\Utils\PCasSerializerFactory

  pcas.httpclientfactory:
    class: OpenEuropa\pcas\Http\HttpClientFactory
