name: ci
on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  ci:
    uses: openeuropa/github-ci/.github/workflows/drupal-ci.yml@main
    with:
      run_behat: true
